<!DOCTYPE html>
<html>
<head>
  <title>Harvey's House of House</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="image">harvey's house of <i>house</i></div>
<%= yield %>
</body>
</html>