<div class="home-nav">
  <a href="/artists/new">Add Artist to Library</a>
</div>

<div class="home-nav">
  <a href="/albums/new">Add Album to Library</a>
</div>

<div class="home-nav">
  <a href="/stock/select_artist">Add Stock</a>
</div>