h1 {
  font-family: "Sans Serif";
  color: #d8e4f9;
}

h2 {
  font-family: "Arial";
  color: #d6f5f5;
}

p {
  font-family: "Arial";
  color: #d6f5f5;
}

.box_thing {
  background-color: #C5C6B6;
}

body {
  background-color: #3E4348;
}

