<h1>Add an artist...</h1>

<form action="/artists" method="post">
  <label for="name">Artists</label>
  <input type="text" name="name">
  
  <select name="genre">Genre
  <option value="Noise">Noise</option>
  <option value="Pop">Noise</option>
  </select>

  <input type="submit" name="Add artist">
</form>