<h2>Stock List</h2>

<% @stocks.each do |stock|  %>
Artist: <br>
<% stock.albums.each do |album| %>
<% album.artists.each do |artist| %>
<%= artist.name %><br>
Genre:
<%= artist.genre %><br>
<% end %>
<% end %>

Album name:
<% stock.albums.each do |album| %>
<%= album.name %>
<% end %>









</p>
<hr>
<% end %>


