<h2>You've added...</h2>

<p><%= @albums.name %></p>

<img src=" <%= @albums.album_art %>" style="width:250px;height:250px;">

<h2>...to your library!</h2>

<a href="/albums">View all albums</a>
<a href="/stock/select_artist">Add Stock</a><br>
<a href="/options">Return</a>