<h2>You've added...</h2>

<p><%= @albums.name %></p>


<a href="/albums/<%= @albums.id %>">
<img src=" <%= @albums.album_art %>" style="width:250px;height:250px;">
</a>

<a href="/albums">View all albums</a>
<a href="/stock/select_artist">Add Stock</a><br>
<a href="/options">Return</a>