<h1>You've added...</h1>

<p><%= @albums.name %></p>

<img src=" <%= @albums.album_art %>" style="width:250px;height:250px;">

<h1>...to your library!</h1>

<a href="/stock/select_artist">Add Stock</a><br>
<a href="/options">Return</a>