<h1>You have added...</h1>


<% @albums.each do |album| %>
  <p>Album: <%= album.name %></p>
  <img src=" <%= album.album_art %>" style="width:250px;height:250px;">
  <a href="/albums/<%= album.id %>">View</a>
<% end %>

