<h2>Library</h2>

<div class="center6">
  <p>Please note, not all of these albums are currently in stock.  Click on the individual album to check availability/order stock.</p>
</div>

<% @albums.each do |album| %>
<div class="iamadiv">
  <p><i><%= album.name %></i><br>
    <a href="albums/<%= album.id %>">
      <img src=" <%= album.album_art %>" style="width:250px;height:250px;">
    </a>
    <a href="/albums/<%= album.id %>">View</a>
  </div>
<% end %>


