<h2>You have added...</h2>


<% @albums.each do |album| %>
  <p><b>Album</b> - <%= album.name %></p>
  <img src=" <%= album.album_art %>" style="width:250px;height:250px;">
  <a href="/albums/<%= album.id %>">View</a>
<% end %>

