<div class="center2">
<p><b>Title - </b><%= @album.name() %></p>
</div>

<div class="center_artwork">
<img src=" <%= @album.album_art %>" style="width:250px;height:250px;">
</div>

<div class="home-nav">
<a href="/albums/<%= @album.id %>/edit">Edit</a>
<div/>

<form action="/albums/<%= @album.id %>/delete" method="post">
  <input type="submit" value="delete">
</form>

