<h1>Title:</h1>
<p><%= @album.name() %></p>

<h1>Artwork</h1>
<img src=" <%= @album.album_art %>" style="width:250px;height:250px;">

<a href="/albums/<%= @album.id %>/edit">Edit</a>

<form action="/albums/<%= @album.id %>/delete" method="post">
  <input type="submit" value="delete">
</form>