<h1>NAME:</h1>
<p><%= @album.name() %></p>

<a href="/albums/<%= @album.id %>/edit">Edit</a>

<form action="/albums/<%= @album.id %>/delete" method="post">
  <input type="submit" value="delete">
</form>