<p><b>Title - </b><%= @album.name() %></p>

<h2>Artwork</h2>
<img src=" <%= @album.album_art %>" style="width:250px;height:250px;">

<a href="/albums/<%= @album.id %>/edit">Edit</a>

<form action="/albums/<%= @album.id %>/delete" method="post">
  <input type="submit" value="delete">
</form>