<h1>You have added...</h1>

<h3>Artist:</h3>
<p><%= @artists.name %></p>

<h3>Genre:</h3>
<p><%= @artists.genre %></p>

<h1>...to your library!</h1>

<a href="/artists">View all artists</a>
<a href="/albums/new">Add album to artist</a><br>
<a href="/options">Return</a>