<b><h2>New Artist</h2></b>

<b><p style="text-align:center">Artist - </b><%= @artists.name %><br>

<b>Genre - </b><%= @artists.genre %></p>

<div class="home-nav">
<a href="/artists">All artists</a>
</div>

<div class="home-nav">
<a href="/albums/new">Add album</a><br>
</div>

<div class="home-nav">
<a href="/options">Back</a>
</div>