<h2>Add an artist...</h2>

<div class="center3">
<form action="/artists" method="post">
  <label for="name">Artist</label>
  <input type="text" name="name">
  
  <select name="genre">Genre
  <option value="Acid House">Acid House</option>
  <option value="Ambient House">Ambient House</option>
  <option value="Afro House">Afro House</option>
  <option value="Bassline House">Bassline House</option>
  <option value="Chicago House">Chicago house</option>
  <option value="Deep House">Deep House</option>
  <option value="Electro House">Electro House</option>
  <option value="Funky House">Funky House</option>
  <option value="Future House">Future House</option>
  <option value="Garage House">Garage House</option>
  <option value="Hard House">Hard House</option>
  <option value="Jazz House">Jazz House</option>
  <option value="Minimal House">Minimal House</option>
  <option value="Soulful House">Soulful House</option>
  <option value="Tech House">Tech House</option>
  <option value="Tribal House">Tribal House</option>
  <option value="Tropical House">Tropical House</option>
  </select>

  <input type="submit" name="Add artist">
</form>
</div>