<h2>Add an artist...</h2>

<form action="/artists" method="post">
  <label for="name">Artists</label>
  <input type="text" name="name">
  
  <select name="genre">Genre
  <option value="Noise">Noise</option>
  <option value="Pop">Pop</option>
  <option value="Soundtrack">Soundtrack</option>
  </select>

  <input type="submit" name="Add artist">
</form>