<h1>Artist:</h1>
<p><%= @artist.name() %></p>

<h1>Genre</h1>
<p><%= @artist.genre() %></p>

<a href="/artists/<%= @artist.id %>/edit">Edit</a>

<form action="/artists/<%= @artist.id %>/delete" method="post">
  <input type="submit" value="delete">
</form>